<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
          <div class="mb-3 mt-3">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control" ngModel name="Name" required />
          </div>
          <div class="mb-3 mt-3">
            <label for="Password" class="form-label">Password</label>
            <input class="form-control"  ngModel name="Password"  required />
          </div>
          <div class="d-flex gap-3 mb-3 mt-3">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
