<div class="row">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #Form="ngForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Information" class="p-2">
                <div class="mb-3">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let bhk of [1, 2, 3, 4]"
                      class="btn btn-outline-primary"
                      [btnRadio]="bhk"
                      >{{ bhk }}</label
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup name="propertyType" [(ngModel)]="propertyView.Type">
                    <label
                      *ngFor="let type of propertyTypes"
                      class="btn btn-outline-primary"
                      [btnRadio]="type"
                    >
                      {{ type }}
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <p class="mt-2">Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let ftype of furnishTypes"
                      class="btn btn-outline-primary mr-4"
                      [btnRadio]="ftype"
                    >
                      {{ ftype }}
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="Name" class="form-label">In Building/Society/Project
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    #propName="ngModel"
                    ngModel
                    [(ngModel)]="propertyView.Name"
                    name="propName"
                    required
                    minlength="5"
                  />
                  <span
                    *ngIf="!propName.valid && propName.touched"
                    class="error-block"
                  >
                    <span
                      *ngIf="
                        propName &&
                        propName.errors &&
                        propName.errors['required']
                      "
                      >Please provide a name</span
                    >
                    <span
                      *ngIf="
                        propName &&
                        propName.errors &&
                        propName.errors['minlength']
                      "
                      >Name must be at least 5 characters</span
                    >
                  </span>
                </div>
                <div class="mb-3">
                  <label for="Price" class="form-label">City</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="d-flex gap-3 mb-3">
                  <button
                    type="button"
                    (click)="selectTab(1)"
                    class="btn btn-primary w-100"
                  >
                    Next
                  </button>
                </div>
              </tab>
              <tab heading="Pricing and Area" class="p-2">
                <div class="mb-3">
                  <label class="form-label">Price (in USD)</label>
                  <input type="text" class="form-control" name="price" [(ngModel)]="propertyView.Price"/>
                </div>

                <div class="mb-3">
                  <label class="form-label">Security (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Maintenance (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="d-flex flex-column gap-2 mb-3">
                  <button
                    type="button"
                    (click)="selectTab(2)"
                    class="btn btn-primary w-100"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    (click)="selectTab(0)"
                    class="btn btn-primary w-100"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Address" class="p-2">
                <div class="mb-3">
                  <label class="form-label">Floor</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Total Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Landmark</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="d-flex flex-column gap-2 mb-3">
                  <button
                    type="button"
                    (click)="selectTab(3)"
                    class="btn btn-primary w-100"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    (click)="selectTab(1)"
                    class="btn btn-primary w-100"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Other Details" class="p-2">
                <div class="mb-3">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >No</label
                    >
                  </div>
                </div>

                <div class="mb-3 w-50">
                  <label class="form-label">Possession/Avaialble From</label>
                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Age of Property</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="mb-3">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >No</label
                    >
                  </div>
                </div>

                <div class="mb-3">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >East</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >West</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="3"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >South</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="4"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >North</label
                    >
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="6"
                  ></textarea>
                </div>

                <div class="d-flex flex-column gap-2 mb-3">
                  <button
                    type="button"
                    (click)="selectTab(4)"
                    class="btn btn-primary w-100"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    (click)="selectTab(2)"
                    class="btn btn-primary w-100"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Photos" class="p-2">
                <div class="mb-3">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <div class="d-flex flex-column gap-2 mb-3">
                  <button
                    type="button"
                    (click)="selectTab(3)"
                    class="btn btn-primary w-100"
                  >
                    Back
                  </button>
                  <button type="button" class="btn btn-primary w-100">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary w-100">
                    Save
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
